# This is a basic workflow for generating docs for autodist

name: Docs via Github Pages 

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ doc-review ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-20.04

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.14
      id: go
    
    - name: Set up Python 3.7
      uses: actions/setup-python@v2
      with:
        python-version: 3.7

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo DEBIAN_FRONTEND="noninteractive" apt-get install -y git wget unzip make rsync
        python -m pip install --upgrade pip
        pip install -r docs/requirements-docgen.txt wheel tensorflow==2.0.0
        go get -u -v github.com/pseudomuto/protoc-gen-doc/cmd/protoc-gen-doc
        wget https://github.com/protocolbuffers/protobuf/releases/download/v3.11.0/protoc-3.11.0-linux-x86_64.zip
        unzip protoc-3.11.0-linux-x86_64.zip
        export PROTOC_PLUGINS=/home/runner/go/bin/protoc-gen-doc
        export PROTOC=$(pwd)/bin/protoc
        HOME=$(pwd) python setup.py build
        pip install -e .

    - name: Build
      run: | 
        cd docs && cp ../README.md README.md
        sed -i.bak 's+docs/++g' README.md
        make clean
        make apidoc
        make html
        cd ../
    
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./docs/_build/html
        publish_branch: gh-pages
